### Maven & Spring Boot (Compiled Files) ###
target/
*.class
*.jar
*.war
*.ear
*.log

### IntelliJ IDEA (IDE Settings) ###
.idea/
*.iml
*.iws
out/

### macOS (Hidden System Files) ###
.DS_Store
.AppleDouble
.LSOverride